<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
   <link rel="stylesheet" href="/details.css">
  </head>
  <body>
    <div id="container">
      <h1>{{name}}</h1>
      <span>{{country}}</span>
      <span>{{job}}</span>
      <span>{{email}}</span>
      <span>{{phone}}</span>
      <span><b>Education</b></span>
      <span><b>Skills</b></span>
      <span>{{university}}</span>
  <ul>
    {{#skills}}
    <li>
      {{.}}
    </li>
    {{/skills}}
    </ul>
    <div class="users">
      <img src="{{avatar}}" alt="Not the robot you are looking for!" />
        </div>
      </div>

  </body>
</html>
